div.tvo-input-button {
  display: inline-block;
}
div.tvo-input-button button,
div.tvo-input-button .button,
div.tvo-input-button input[type=submit] {
  border: 0;
  background: #5786c1;
  color: white;
  padding: 4px 8px;
  display: inline-block;
  /* needed for anchors */
  margin: 0 5px 6px;
  outline: none;
  box-shadow: 1px 0 #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae, 3px 2px #3a587f, 2px 3px #4171ae;
}
div.tvo-input-button button:hover,
div.tvo-input-button .button:hover,
div.tvo-input-button input[type=submit]:hover,
div.tvo-input-button button.hover,
div.tvo-input-button .button.hover,
div.tvo-input-button input[type=submit].hover {
  transform: translate(1px, 1px);
  box-shadow: 1px 0 #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae;
}
div.tvo-input-button button:active,
div.tvo-input-button .button:active,
div.tvo-input-button input[type=submit]:active,
div.tvo-input-button button.active,
div.tvo-input-button .button.active,
div.tvo-input-button input[type=submit].active {
  transform: translate(3px, 3px);
  box-shadow: none;
}
