/.idea/
/archive/
/node_modules/
/bower_components/
/dist/
/npm-debug.log
/iisnode
/**/*.js
/**/*.js.map
/server/api/auth/client/authData.json
/server/api/config/database.js
/server/api/config/database.ts
/server/api/config/database.js.map
/server/api/db.js
/server/config/database.ts

!/client/light/color-picker.min.js
!/client/light/color-picker.js

src/server/config/database\.ts
