<div ng-if="vm.eventDetailFocused && vm.itemId">
    <tvo-user-management-item-detail id="vm.itemId" open="vm.eventDetailFocused"></tvo-user-management-item-detail>
</div>
<div ng-if="vm.eventCreateFocused">
    <tvo-user-management-item-create id="placeholder = 'this-is-a-placeholder'"
                                     open="vm.eventCreateFocused"></tvo-user-management-item-create>
</div>

<md-card class="scroll-container" ng-if="!vm.eventDetailFocused && !vm.eventCreateFocused">
    <tvo-create-button class="create-container" ng-click="vm.create('/#/userManagement/create')"></tvo-create-button>
    <div infinite-scroll='vm.loadMore()' infinite-scroll-distance="0">
        <tvo-user-item-single
                ng-click="vm.selectItem(item._id)"
                ng-repeat='item in vm.items'
                class="single-item"
                x-item="item"
        ></tvo-user-item-single>
    </div>
</md-card>
