<h1>Desk light</h1>
<div>
    <tvo-button label="'Red'" type="'button'" ng-click="vm.red()"></tvo-button>
    <tvo-button label="'Green'" type="'button'" ng-click="vm.green()"></tvo-button>
    <tvo-button label="'Blue'" type="'button'" ng-click="vm.blue()"></tvo-button>
    <tvo-button label="'White'" type="'button'" ng-click="vm.on()"></tvo-button>
    <tvo-button label="'Off'" type="'button'" ng-click="vm.off()"></tvo-button>
</div>
<!--<tvo-button label="'Reset Particle'" type="'button'" ng-click="vm.reset()"></tvo-button>-->
<div>
    <tvo-slider label="'R'" value="vm.r"></tvo-slider>
    <tvo-slider label="'G'" value="vm.g"></tvo-slider>
    <tvo-slider label="'B'" value="vm.b"></tvo-slider>
    <tvo-button label="'Set'" type="'button'" ng-click="vm.setCustom()"></tvo-button>
</div>
<div>
    <span> R: {{vm.r}} </span>
    <span> G: {{vm.g}} </span>
    <span> B: {{vm.b}} </span>
</div>
<div style="background-color: rgb({{vm.r}}, {{vm.g}}, {{vm.b}});">
    Color
</div>
